[submodule "DIM-Z/Transmitter/Raspberry-Pi-Side/Fire-Detection"]
	path = DIM-Z/Transmitter/Raspberry-Pi-Side/Fire-Detection
	url = https://github.com/Napattnpp/Fire-Detection.git
[submodule "DIM-Z/Transmitter/Raspberry-Pi-Side/Send-Result/RL-AlphaEn"]
	path = DIM-Z/Transmitter/Raspberry-Pi-Side/Send-Result/RL-AlphaEn
	url = https://github.com/Napattnpp/RL-AlphaEn.git
